<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: headerfiles (title = 'Listagem de Livros')">
</head>
<body>

	<header th:replace="fragments/general.html :: header">
	</header>

	<div class="container my-3">
		
		<h1 class="display-4 text-center my-3">Lista De Livros</h1>
		<table class="table table-striped text-center">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Titulo</th>
					<th scope="col">Descrição</th>
					<th scope="col">Referencia</th>
					<th scope="col">Cadastro</th>
					<th scope="col">Estoque</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="prod    : ${Livros}">
					<th scope="row" th:text="${prod.id}"></th>
					<th th:text="${prod.titulo}"></th>
					<th th:text="${prod.descricao}"></th>
					<th th:text="${prod.referencia}"></th>
               <th th:text="${#dates.format(prod.cadastro, 'dd/MM/yyyy')}"></th>
					
				
					
					
					<th>
						<a class="btn btn-outline-primary"
							th:href="@{/Livros/details/{id}(id = ${prod.id})}">
							<i class="fa fa-search" aria-hidden="true"></i>
						</a>
						<a class="btn btn-outline-success"
							th:href="@{/Livros/save/{id}(id = ${prod.id})}">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</a>
						<a class="btn btn-outline-danger"
							th:href="@{/Livros/delete/{id}(id = ${prod.id})}">
							<i class="fa fa-trash-o" aria-hidden="true"></i>
						</a>
					</th>
				</tr>
			</tbody>
		</table>
		
	</div>

	<footer th:replace="fragments/general.html :: footer">
	</footer>

</body>
</html>